<ion-content>
  <app-back-button-bar>글쓰기</app-back-button-bar>
  <div class="w-full pt-6 overflow-y-scroll bg-white">
    <div class="flex flex-col text-sm font-[700] items-center">
      <p class="w-80">제목</p>
      <input type="text"
        class="mt-2 border border-gray-200 text-gray-500 placeholder-gray-400 text-xs font-[400] py-1.5 px-2 rounded-md w-80"
        placeholder="제목을 입력해주세요">
    </div>
    <div class="flex flex-col text-sm font-[700] items-center">
      <p class="mt-2 w-80">내용</p>
      <textarea type="text" rows="8"
        class="mt-2 border border-gray-200 text-gray-500 placeholder-gray-400 text-xs font-[400] py-1.5 px-2 rounded-md w-80"
        placeholder="내용을 입력해주세요"></textarea>
    </div>
    <div class="flex flex-col text-sm font-[700] items-center">
      <p class="mt-2 w-80">사진선택</p>
      <div class="flex justify-start mt-2 overflow-y-scroll w-80">
        <div class="flex space-x-3">
          <div class="flex items-center justify-center border rounded-md w-11 h-11">
            <img src="assets/icon/plus.svg">
          </div>
          <div class="flex items-center justify-center overflow-hidden rounded-md w-11 h-11">
            <img src="assets/img/loading.png">
          </div>
          <div class="flex items-center justify-center overflow-hidden rounded-md w-11 h-11">
            <img src="assets/img/loading.png">
          </div>
          <div class="flex items-center justify-center overflow-hidden rounded-md w-11 h-11">
            <img src="assets/img/loading.png">
          </div>
          <div class="flex items-center justify-center overflow-hidden rounded-md w-11 h-11">
            <img src="assets/img/loading.png">
          </div>
          <div class="flex items-center justify-center overflow-hidden rounded-md w-11 h-11">
            <img src="assets/img/loading.png">
          </div>
          <div class="flex items-center justify-center overflow-hidden rounded-md w-11 h-11">
            <img src="assets/img/loading.png">
          </div>
          <div class="flex items-center justify-center overflow-hidden rounded-md w-11 h-11">
            <img src="assets/img/loading.png">
          </div>
          <div class="flex items-center justify-center overflow-hidden rounded-md w-11 h-11">
            <img src="assets/img/loading.png">
          </div>
        </div>
      </div>
    </div>
  </div>
</ion-content>
<ion-footer>
  <div class="w-full px-6 py-4 bg-white">
    <div
      class="w-full h-10 bg-gradient-to-r from-[#1F164B] via-[#35248F] to-[#540BB0] flex items-center justify-center rounded-[5px]">
      <p class="text-[13px]  text-white">기록하기</p>
    </div>
  </div>
</ion-footer>