<ion-tabs>
  <ion-tab-bar slot="bottom" class="border-t border-gray-100">
    <ion-tab-button tab="home" queryParams="{date: '오늘하루'}">
      <ion-icon src="/assets/img/tab1.svg" class="text-[16px]"></ion-icon>
      <ion-label>홈</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="calender">
      <ion-icon src="/assets/img/tab2.svg" class="text-[18px]"></ion-icon>
      <ion-label>달력</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="my">
      <ion-icon src="/assets/img/tab3.svg" class="text-[18px]"></ion-icon>
      <ion-label>마이</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>