<ion-content>
  <app-back-button-bar>나만의 레시피</app-back-button-bar>
  <div class="px-5 space-y-2 pt-8">
    <p class="text-xs font-[600]">음식명</p>
    <input type="text"
      class="border border-gray-200 text-gray-500 placeholder-gray-400 text-xs font-[400] px-2 py-2 rounded-md w-full"
      placeholder="음식이름을 입력해주세요">
    <p class="text-xs font-[600]">탄수화물(g)</p>
    <input type="text"
      class="border border-gray-200 text-gray-500 placeholder-gray-400 text-xs font-[400] px-2 py-2 rounded-md w-full"
      placeholder="탄수화물(g)을 입력해주세요">
    <p class="text-xs font-[600]">지방(g)</p>
    <input type="text"
      class="border border-gray-200 text-gray-500 placeholder-gray-400 text-xs font-[400] px-2 py-2 rounded-md w-full"
      placeholder="지방(g)을 입력해주세요">
    <p class="text-xs font-[600]">단백질(g)</p>
    <input type="text"
      class="border border-gray-200 text-gray-500 placeholder-gray-400 text-xs font-[400] px-2 py-2 rounded-md w-full"
      placeholder="단백질(g)을 입력해주세요">
    <p class="text-xs font-[600]">칼로리(kcal)</p>
    <input type="text"
      class="border border-gray-200 text-gray-500 placeholder-gray-400 text-xs font-[400] px-2 py-2 rounded-md w-full"
      placeholder="칼로리(kcal)을 입력해주세요">
  </div>
</ion-content>
<ion-footer>
  <div class="w-full px-6 py-4 bg-white">
    <div
      class="w-full h-10 bg-gradient-to-r from-[#1F164B] via-[#35248F] to-[#540BB0] flex items-center justify-center rounded-[5px]">
      <p class="text-[13px]  text-white">추가하기</p>
    </div>
  </div>
</ion-footer>