<ion-content>
  <app-back-button-bar>회원정보 수정</app-back-button-bar>
  <div class="w-full overflow-y-scroll bg-white">
    <div class="flex flex-col items-center w-full h-screen">
      <div class="relative pr-8 m-5 w-28">
        <div class="overflow-hidden border rounded-full w-28 h-28">
          <img src="assets/img/emo5.png" class="w-28">
        </div>
        <div class="absolute w-8 h-8 z-10 top-20 left-[85px] border rounded-full overflow-hidden">
          <img src="assets/img/update.png" class="w-8" />
        </div>
      </div>
      <div class="py-3 space-y-3">
        <div class="flex text-sm font-[700] ">
          <p class="w-20">이메일</p>
          <p>rlaalgus0000@nate.com</p>
        </div>
        <div class="flex text-sm font-[700] items-center">
          <p class="w-20">닉네임</p>
          <input type="text"
            class="border border-gray-200 text-gray-500 placeholder-gray-400 text-xs font-[400] py-1.5 px-2 rounded-md w-56"
            placeholder="닉네임을 입력해주세요">
        </div>
        <div class="flex text-sm font-[700] items-center">
          <p class="w-20">현재 몸무게</p>
          <input type="text"
            class="border border-gray-200 text-gray-500 placeholder-gray-400 text-xs font-[400] py-1.5 px-2 rounded-md w-56"
            placeholder="몸무게를 입력해주세요">
        </div>
        <div class="flex text-sm font-[700] items-center">
          <p class="w-20">목표 몸무게</p>
          <input type="text"
            class="border border-gray-200 text-gray-500 placeholder-gray-400 text-xs font-[400] py-1.5 px-2 rounded-md w-56"
            placeholder="목표 몸무게를 입력해주세요">
        </div>
        <div class="flex text-sm font-[700] items-center">
          <p class="w-20">목표 칼로리</p>
          <input type="text"
            class="border border-gray-200 text-gray-500 placeholder-gray-400 text-xs font-[400] py-1.5 px-2 rounded-md w-56"
            placeholder="목표 칼로리를 입력해주세요">
        </div>
      </div>
    </div>
  </div>
</ion-content>
<ion-footer>
  <div class="w-full px-6 py-4 bg-white">
    <div
      class="w-full h-10 bg-gradient-to-r from-[#1F164B] via-[#35248F] to-[#540BB0] flex items-center justify-center rounded-[5px]">
      <p class="text-[13px]  text-white">수정하기</p>
    </div>
  </div>
</ion-footer>